@import '../common/styles/sass/mixins';

.mainBlock {
  @include heightWidth(100vh, 100%);
  margin: 0 auto;


  .header {
    @include displayFlex();
    @include heightWidth(50px, 100%);
    justify-content: right;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .pages {
    @include heightWidth(auto,95%);
    margin: 0 auto;
    padding: 10px 0;
  }
}